<h2>Product List</h2>
<button class="btn-primary btn" (click)="addNewProduct()">Add new Product</button>
<div *ngIf = 'products.length > 0; then showTableBlock; else noDataBlock'></div>
<ng-template #showTableBlock>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Available</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = 'let product of products'>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td [ngClass] = "{'in-stock': isProductInStock(product), 'out-of-stock':!isProductInStock(product)}">
                {{isProductInStock(product) ? 'Avaialble': 'Not Available'}}
            </td>
            <td>
                <a [routerLink] = "['/product-detail', product.id, product.name]" 
                [title]="shortDesc">View</a>

                <a [routerLink] = "['/product-detail']" 
                [queryParams] = "{id: product.id, name:product.name}"
                [title]="shortDesc">View(Query parameter)</a>
                <button class="btn btn-primary" (click)="showDetails(product)">Edit</button>
            </td>

        </tr>
    </tbody>
</table>
<div *ngIf="showEditProduct">
    <app-edit-product [product]="selectedProduct" 
    (productChange)="update($event)" (cancelUpdate)="cancelUpdate()"></app-edit-product>
</div>

<div *ngIf="showAddProduct">
    <app-add-product></app-add-product>
</div>
</ng-template>

<ng-template #noDataBlock>
    <h2>{{errorMessage}}</h2>
</ng-template>
<!-- ngFor/ngIf/ngSwitch are structural directive(They conditionally add or remove HTML element)-->

<div *ngIf = 'isVisible'>It is visible</div>


<ng-container *ngFor="let product of products">
    <!--Display each item conditionally-->
    <div *ngIf = "product.visible">
        {{product.id}}
    </div>
</ng-container>